name: 'GitHub Actions Weather Bot'
 
on:
  schedule:
    - cron: '50 23 * * *'
  workflow_dispatch:  # 这个必须要有，才能手动运行


jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout codes'
        uses: actions/checkout@v4
      - name: 'Get Weather'
        run: python weather.py
